<header>
    <div class="logo">Card Fit</div>
    <nav>
      <ul>
        <li><a href="#">20대 추천 카드</a></li>
        <li><a href="#">정부 지원 카드</a></li>
        <li><a href="#">퍼스널 맞춤 카드</a></li>
        <li><a href="#">이달의 이벤트</a></li>
      </ul>
    </nav>
    <div class="user-icon">
      <img src="/images/avatar.png" alt="User Icon">
    </div>
  </header>
  