<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="globals.css" />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="element">
      <div class="element-page">
        <div class="overlap">
          <div class="rectangle"></div>
          <div class="group">
            <div class="overlap-group">
              <img class="image" src="img/image.png" />
              <div class="text-wrapper">현대 OTD 카드</div>
              <div class="div">
                <div class="overlap-2">
                  <p class="p">
                    <span class="span">전원실적<br /></span> <span class="text-wrapper-2"><br />매달 30만원 이상</span>
                  </p>
                  <p class="div-2">
                    <span class="span">연회비<br /></span>
                    <span class="text-wrapper-3"><br /></span>
                    <span class="text-wrapper-2">15000원</span>
                  </p>
                  <div class="rectangle-2"></div>
                  <div class="text-wrapper-4">상세보기</div>
                </div>
                <div class="text-wrapper-5">주요 혜택</div>
                <p class="element-CGV">
                  주유 1L당
                  60원&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;온라인
                  쇼핑
                  10%할인&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  편의점 10%할인<br /><br /><br />CGV 5000원
                  할인&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;스타벅스
                  1000원
                  할인&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  넷플릭스 20% 할인
                </p>
              </div>
            </div>
          </div>
          <div class="rectangle-3"></div>
          <div class="rectangle-4"></div>
          <div class="rectangle-5"></div>
          <div class="text-wrapper-6">신용카드</div>
          <div class="text-wrapper-7">체크카드</div>
          <div class="rectangle-6"></div>
          <div class="rectangle-7"></div>
          <div class="text-wrapper-8">찾고싶은 카드</div>
          <div class="text-wrapper-9">검색</div>
          <div class="overlap-wrapper">
            <div class="overlap-group">
              <img class="img" src="img/image-2.png" />
              <div class="text-wrapper-10">현대 OTD 카드</div>
              <div class="overlap-group-2">
                <div class="text-wrapper-11">주요 혜택</div>
                <p class="element-CGV">
                  주유 1L당
                  60원&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;온라인
                  쇼핑
                  10%할인&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  편의점 10%할인<br /><br /><br />CGV 5000원
                  할인&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;스타벅스
                  1000원
                  할인&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  넷플릭스 20% 할인
                </p>
                <div class="overlap-3">
                  <p class="p">
                    <span class="span">전원실적<br /></span> <span class="text-wrapper-2"><br />매달 30만원 이상</span>
                  </p>
                  <p class="div-2">
                    <span class="span">연회비<br /></span>
                    <span class="text-wrapper-3"><br /></span>
                    <span class="text-wrapper-2">15000원</span>
                  </p>
                  <div class="rectangle-2"></div>
                  <div class="text-wrapper-4">상세보기</div>
                </div>
              </div>
            </div>
          </div>
          <div class="overlap-group-wrapper">
            <div class="overlap-group">
              <img class="image" src="img/image-4.png" />
              <div class="text-wrapper">현대 OTD 카드</div>
              <div class="div">
                <div class="overlap-2">
                  <p class="p">
                    <span class="span">전원실적<br /></span> <span class="text-wrapper-2"><br />매달 30만원 이상</span>
                  </p>
                  <p class="div-2">
                    <span class="span">연회비<br /></span>
                    <span class="text-wrapper-3"><br /></span>
                    <span class="text-wrapper-2">15000원</span>
                  </p>
                  <div class="rectangle-2"></div>
                  <div class="text-wrapper-4">상세보기</div>
                </div>
                <div class="text-wrapper-5">주요 혜택</div>
                <p class="element-CGV">
                  주유 1L당
                  60원&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;온라인
                  쇼핑
                  10%할인&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  편의점 10%할인<br /><br /><br />CGV 5000원
                  할인&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;스타벅스
                  1000원
                  할인&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  넷플릭스 20% 할인
                </p>
              </div>
            </div>
          </div>
          <div class="div-wrapper">
            <div class="overlap-group">
              <img class="image" src="img/image-3.png" />
              <div class="text-wrapper">현대 OTD 카드</div>
              <div class="div">
                <div class="overlap-2">
                  <p class="p">
                    <span class="span">전원실적<br /></span> <span class="text-wrapper-2"><br />매달 30만원 이상</span>
                  </p>
                  <p class="div-2">
                    <span class="span">연회비<br /></span>
                    <span class="text-wrapper-3"><br /></span>
                    <span class="text-wrapper-2">15000원</span>
                  </p>
                  <div class="rectangle-2"></div>
                  <div class="text-wrapper-4">상세보기</div>
                </div>
                <div class="text-wrapper-5">주요 혜택</div>
                <p class="element-CGV">
                  주유 1L당
                  60원&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;온라인
                  쇼핑
                  10%할인&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  편의점 10%할인<br /><br /><br />CGV 5000원
                  할인&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;스타벅스
                  1000원
                  할인&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  넷플릭스 20% 할인
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="element-wrapper">
          <p class="text-wrapper-12">
            202035204
            이승민&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;202035204
            이승민<br />202035204
            이승민&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;202035204
            이승민
          </p>
        </div>
        <div class="frame">
          <div class="navbar">
            <div class="rectangle-8"></div>
            <div class="rectangle-9"></div>
            <div class="rectangle-10"></div>
            <div class="rectangle-11"></div>
            <div class="rectangle-12"></div>
            <div class="text-wrapper-13">정부 지원 카드</div>
            <div class="text-wrapper-14">퍼스널 맞춤 카드</div>
            <div class="text-wrapper-15">이달의 이벤트</div>
            <div class="text-wrapper-16">Card Fit</div>
            <div class="text-wrapper-17">20대 추천 카드</div>
          </div>
        </div>
        <img class="pngegg" src="img/pngegg-1.png" />
        <img class="muhan" src="img/muhan-2.png" />
      </div>
    </div>
  </body>
</html>
